:root {
    --color-1: #101b39;
    --color-2: #333136;
    --color-3: #6f6d72;
    --color-4: #b4b1b8;
    --color-5: #e9e8ee;
    --portfolio-banner: #7c4dff;
}

body {
    color: var(--color-1);
    background-color: var(--color-5);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0 20px;

    > p.art-portfolio {
        background: var(--portfolio-banner);
        border-radius: 10px;
        color: var(--color-5);
        font-size: 90%;
        margin: 0em -2em;
        padding: 1em 2em;
        text-shadow: 1px 1px 2px var(--color-4);

        &.fadeout {
            height: 0;
            opacity: 0;
            padding: 0 2em;
            transition: height 0.3s ease-out,
                        opacity 0.3s ease-out,
                        padding 0.3s ease-out;
        }

        a.dismiss {
            cursor: pointer;
            float: right;
        }
    }
}

a {
    color: inherit;
}

.container {
    display: grid;
    grid-template-areas: "sidebar content";
    grid-template-columns: minmax(1fr, 275px) 3fr;
    grid-template-rows: auto;
    gap: 20px;
    height: 100vh;

    > div {
        min-height: calc(100vh - 40px);
    }

    .sidebar {
        grid-area: sidebar;
        background-color: var(--color-4);
        display: flex;
        flex-direction: column;

        .headshot-crop {
            border-radius: 50%;
            height: 200px;
            width: 200px;
            margin: 1em auto;
            overflow: hidden;

            img {
                display: inline;
                margin: 0 auto;
                height: 100%;
                width: auto;
            }
        }

        .menu, .contact {
            padding: 1em 0;
            margin: 0 1em;
        }

        .contact {
            flex: 1 1 auto;
            place-content: end;

            p {
                display: grid;
                grid-template-columns: 30px 1fr;
                gap: 1em;
                line-height: 30px;
                vertical-align: middle;

                a {
                    color: inherit;
                }
            }
        }
    }

    .content {
        grid-area: content;
        padding: 20px 0;
        overflow: auto;

        header {
            margin-bottom: 20px;

            h1 {
                font-size: 50px;
                margin: 0;
                padding: 0.675em 0 0.125em;
            }
        }

        > h2 {
            border-top: 2px solid var(--color-4);
            margin: 0;
            padding-top: 1em;
        }
    }
}

.sidebar {
    grid-area: sidebar;
}

header.name {
    grid-area: name;
}

.content {
    grid-area: content;
}

@media (width < 1024px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "headshot"
            "name"
            "content"
            "contact";
        gap: 0;

        > div {
            min-height: auto;
        }

        .sidebar {
            display: contents;

            .headshot-crop {
                grid-area: headshot;
                --size: calc(100vw - 80px);
                width: var(--size);
                height: var(--size);
                max-width: 280px;
                max-height: 280px;
                justify-self: center;
                margin: 1em auto;
            }

            .menu {
                display: none;
            }

            .contact {
                grid-area: contact;
                padding: 1em;
                margin: 0;
                background-color: var(--color-4);

                p {
                    line-height: 30px;
                    grid-template-columns: 30px 1fr;
                }

                svg {
                    width: 30px;
                    height: 30px;
                }
            }
        }

        .content {
            grid-area: content;
            overflow: inherit;
            padding-top: 0;

            header h1 {
                padding: 0.25em 0;
                font-size: clamp(28px, 8vw, 50px);
            }

            header h2 {
                margin: 0;
            }
        }

        header.name {
            grid-area: name;
        }
    }
}

@media (width < 550px) {
    .container {
        .sidebar {
            grid-template-columns: auto;
        }
    }
}

@media print {
    @page {
        margin: 0.25in;
        padding: 0;
    }
    
    body {
        margin: 0 !important;
        padding: 0 !important;

        .container {
            padding-top: 0 !important;
            margin-top: 0 !important;
            grid-template-areas:
                "name"
                "contact"
                "content";
            grid-template-columns: auto;
            gap: 0;
            height: auto;
            font-size: .75em;
            line-height: 1em;

            > div {
                min-height: auto;
            }

            .sidebar {
                display: contents;

                .headshot-crop {
                    display: none;
                }

                .contact {
                    grid-area: contact;
                    padding: 0;
                    margin: 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;

                    p {
                        grid-template-columns: 20px 1fr;
                        gap: 0.75em;
                        margin: 0 0 0 1em;
                        font-size: 0.9em;
                        line-height: 20px;
                    }

                    svg {
                        width: 20px;
                        height: 20px;
                    }
                }

                .menu {
                    display: none;
                }
            }

            .content {
                overflow: inherit;
                grid-area: content;
                padding-top: 0;
            }

            header.name {
                grid-area: name;

                h1, h2 {
                    display: inline-block;
                }

                > h1 {
                    font-size: 40px;
                    line-height: 40px;
                    padding: 0.5em 0;
                }

                > h2 {
                    padding-left: 1em;
                }

                > p {
                    margin-top: 0em;
                }
            }
        }
    }
}